body{
    background: url(binding_dark.png) repeat;
    position: relative;
}

p{
    font-size: 28px;
    color: rgb(204, 204, 204);
    margin-top:30px !important;
    margin-bottom:30px !important;
    font-weight: bold;
}

.flip-clock-label{
    font-size: 20px;
    color: rgb(204,204,204) !important;
}

.flip-clock-wrapper {
    font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
    -webkit-user-select: none;
}

.center{
     display: flex;
     justify-content: center;
     align-items: center
}

h1{
    font-size:42px !important;
    color: rgb(203,13,112) !important;
    font-weight: bold !important;
}
